.container{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ebfafa;
}

.gridcontainer{
    margin: 2rem;
    display: flex;


}

.weather_card{
    width:200px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 3rem;
    box-shadow: 4px 4px 2px lightgray;
}

.button{
    background-color: #04AA6D;
    color: white;
    border: #04AA6D;
    height: 30px;
    width: 70px;
    padding: 0.2rem;
    margin: 0.2rem;
}